/* logo */
.logo{
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}
.logo>img{
    max-width: 200px;
}

/* room */
.room{
    display: flex;
    width: 80%;
    height: 80%;
    backdrop-filter: blur(1px);
    /* background-color: rgba(76, 60, 97, 0.4); */
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 10px;
}